*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gallery img{
	max-width: 100%;
}
.gallery{
	background-color: rgb(150, 194, 179);
	padding: 80px 0;
}
.gallery img{
    background-color: rgb(197, 231, 219);
    padding: 15px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.gallery img:hover {
    box-shadow: 0 0 25px rgb(186, 255, 225);
}
#gallery-modal .modal-img{
	width: 100%;
}
