html * {
    font-family: 'Cinzel';
    font-weight: 500;
}
.logo {
    width: 60px;
    height: auto;
    margin: 0px 10px 10px 0px;
}
.navbar {
    background-color: rgb(15, 56, 54) !important;
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-item{
    font-size: 28px;
}

.dropdown-menu{
    border: none !important;
    background-color: rgb(15, 56, 54) !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.dropdown-item{
    color:rgb(234, 243, 241) !important;
    border-radius: 10px !important;
    font-size: 28px;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: rgb(21, 80, 77) !important;
    color: white !important;
    padding-left: 20px;
}

.dropdown-item.active{
    background-color: rgb(22, 71, 69) !important;
    color: white !important;
    font-weight: bold;
}

.title {
    text-decoration: none;
    align-items: center;
    color: rgb(234, 243, 241);
    font-size: 30px;
    font-weight: 600;
    transition: text-shadow 0.3s ease-in-out;
}
.title:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 20px rgba(255, 255, 255, 0.5);
}
.nav-item:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 20px rgba(255, 255, 255, 0.5);
}
.dropdown-item:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 20px rgba(255, 255, 255, 0.5);
}

    .btn-outline-light {
        color: #fff;
        border-color: transparent;
    }
    .btn-outline-light:hover {
        color: black;
    }
    button{
        cursor: pointer;
        border: 1px solid #ffffff;
        text-align: center;
        padding: 5px;
        margin-left: 8px; 
    }
.mainend{
    background-color: #053335;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    color: rgb(160, 160, 160);
}
.mainend ul{
    list-style-type: none;
}
.link1{
    color: #1b8b96;
    text-decoration-line: none;
}
.btn-custom-height {
    padding: 10px 20px;
    height: 38px;
    line-height: 30px;
}
